#root{
  background-color: #333333;
}


.active{
  background-color: #d8d8d818 !important;
  border-left: #358ef1 2px solid !important;

  svg {
    color: #358ef1 !important;
  }
}

a:hover{
  background-color: #d8d8d818 !important;
}

.css-1kz9eru {
  background: #d8d8d836 !important;
  --bg-currentcolor: #d8d8d836 !important;
  width: 0.5px !important ;
}